.navbar {
    display: flex;
    background-color: $color-gray-dark;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
     .navbar__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 900px;
        margin: 0 auto;
        @media (max-width: 768px) {
             min-width: 100%;
        }
        .navbar__img {
            margin-left: 10px;
         }
         .navbar__links {
            list-style: none;
            display: flex;
            .navbar__links__item a {
                color: $color-white;
                text-decoration: none;
                padding: 10px;
                display: block;
            }
        }

    }
 
}